/* CARD */
.vs-node {
  width: 270px;
  background: #f8f9ff;
  border-radius: 14px;
  border: 1.5px solid #c7ccff;
  box-shadow:
    0 0 0 2px rgba(124, 132, 255, 0.15),
    0 10px 30px rgba(124, 132, 255, 0.25);
  font-family: Inter, sans-serif;
}

/* HEADER */
.vs-node-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background: #eef0ff;
  border-radius: 14px 14px 0 0;
}

.vs-node-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.vs-node-icon {
  font-size: 14px;
  color: #4f46e5;
}

.vs-node-title {
  font-weight: 600;
  font-size: 14px;
}

.vs-node-close {
  cursor: pointer;
  font-size: 16px;
}

/* SUBTITLE */
.vs-node-subtitle {
  padding: 8px 12px;
  font-size: 12px;
  color: #444;
  background: #f1f2ff;
}

/* BODY */
.vs-node-body {
  padding: 12px;
}

/* INPUT */
.vs-input {
  width: 92%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #e7e9ff;
  box-shadow: inset 0 0 0 1px #c7ccff;
  margin-bottom: 14px;
  font-size: 13px;
  text-align: center;
}

/* LABEL */
.vs-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 6px;
}

/* BADGE */
.vs-badge {
  background: #5b5ef7;
  color: white;
  font-size: 11px;
  padding: 3px 8px;
  border-radius: 8px;
}

/* SELECT */
.vs-select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 13px;
  background: #fff;
}

.vs-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.vs-text-input {
  width: 100%;
  padding: 11px 10px;
  border-radius: 12px;                 
  border: 1px solid #808080;           
  font-size: 14px;
  background: #ffffff;
  color: #000307;
  box-sizing: border-box;
  margin-top: 1px;                    
}